body{
    background-image: url("https://www.keralatourism.org/images/homecontentimage/desktop/kathakali.jpg");

}
.hai{
margin-left: 51%;
margin-top: 15%;
}

h2{
    color: cornsilk;
}

.details{
    color:green;

}
#jin{
    color: hotpink;
    background-color: black;
}